<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>TRAD</title>
</head>

<body>
    
    <div id="google_translate_element"></div>

    <nav id="nav">
        <div class="navTop">
            <img class="logo" src="/images/features_img/8bd0652cd61571dc49b23441f7af023f.png" alt="">
            <div class="navItem">
                <!-- <div class="search">
                    <input type="text" placeholder="Search..." class="searchInput">
                    <img src="./img/search.png" width="20" height="20" alt="" class="searchIcon">
                </div> -->
            </div>
            <div class="navItem" class="bUy" onclick="login()">
                <h2>Login/Signup</h2>
            </div>
        </div>
        <div class="navBottom">
            <h3 class="menuItem">Home</h3>
            <h3 onclick="collscroll()" class="menuItem">Collections</h3>
            <h3 onclick="bottomscroll()" class="menuItem">Contact Us</h3>
            <h3 onclick="bottomscroll()" class="menuItem">About Us</h3>
        </div>
    </nav>
    <div class="slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img src="./img/air.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">AIR FORCE</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$119</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="./img/jordan.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">AIR JORDAN</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$149</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="./img/blazer.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">BLAZER</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$109</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="./img/crater.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">CRATER</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$129</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="./img/hippie.png" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">HIPPIE</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$99</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
        </div>
    </div>

    <h1 class="h1-text">Let's Promote...</h1>
    <div class="features">
        <div class="feature">
            <img src="/images/features_img\13.-India_s-Handicraft-Industry-Gaining-Momentum-10-Best-Corporate-Leaders-From-Jaipur-2021.webp"
                alt="" class="featureIcon">
            <span class="featureTitle"><a
                    href="https://necessityestore.in/history-and-legacy-of-indian-handicrafts/">Know More</a></span>
            <!-- <span class="features_img\Banner-1.jpg">FREE SHIPPING</span>
                
            <span class="features_img\header-6.png">Free worldwide shipping on all orders.</span> -->
        </div>
        <div class="feature">
            <img class="featureIcon" src="/images/features_img\India_Handicraft_Exporters-A_6.webp" alt="">

            <span class="featureTitle"><a
                    href="https://www.gaurikohli.com/blogs/journal/handicrafts-of-india-through-the-ages">Know
                    More</a></span>
            <!-- <span class="featureDesc">No question return and easy refund in 14 days.</span> -->
        </div>
        <div class="feature">
            <img class="featureIcon" src="/images/features_img\collage-1024x768.jpg" alt="">
            <span class="featureTitle"><a
                    href="https://www.jagranjosh.com/general-knowledge/list-of-folk-paintings-of-india-1532091333-1">Know
                    More</a></span>
            <!-- <span class="featureTitle">GIFT CARDS</span>
            <span class="featureDesc">Buy gift cards and use coupon codes easily.</span> -->
        </div>
        <div class="feature">
            <img class="featureIcon"
                src="/images/features_img\Metal-Art-In-Medieval-India-q4bcvw21hkf44qj9807ewk374wdags9jmj2zrsv2tk.jpg"
                alt="">
            <span class="featureTitle"><a
                    href="https://www.cottage9.com/blog/exploring-the-history-of-metal-art-in-india-from-ancient-times-to-modern-day/">Know
                    More</a></span>
            <!-- <span class="featureTitle">CONTACT US!</span>
            <span class="featureDesc">Keep in touch via email and support system.</span> -->
        </div>
    </div>

    <div class="product" id="product">
        <img src="/images/logo/wp6849573.jpg" alt="" class="productImg">
        <div class="productDetails">
            <h1 class="productTitle">Madhubani Painting</h1>
            <h2 class="productPrice">₹3599.00 &nbsp; <span>₹8,500</span>&nbsp; 84% off</h2>
            <p class="productDesc">enthic boutique radha krishna Acrylic 10 inch x 8 inch Painting (With Frame).</p>
            <!-- <div class="colors">
                <div class="color"></div>
                <div class="color"></div>
            </div> -->
            <div class="sizes">
                <div class="size">22x30 inch</div>
                <div class="size">Folkart</div>
                <div class="size">Acrylic</div>
            </div>
            <button class="productButton" class="bUy" onclick="login()">BUY NOW!</button>
        </div>


        <div class="payment">
            <h1 class="payTitle">Personal Information</h1>
            <label>Name and Surname</label>
            <input type="text" placeholder="John Doe" class="payInput">
            <label>Phone Number</label>
            <input type="text" placeholder="+1 234 5678" class="payInput">
            <label>Address</label>
            <input type="text" placeholder="Elton St 21 22-145" class="payInput">
            <h1 class="payTitle">Card Information</h1>
            <div class="cardIcons">
                <img src="./img/visa.png" width="40" alt="" class="cardIcon">
                <img src="./img/master.png" alt="" width="40" class="cardIcon">
            </div>
            <input type="password" class="payInput" placeholder="Card Number">
            <div class="cardInfo">
                <input type="text" placeholder="mm" class="payInput sm">
                <input type="text" placeholder="yyyy" class="payInput sm">
                <input type="text" placeholder="cvv" class="payInput sm">
            </div>
            <button class="payButton">Checkout!</button>
            <span class="close">X</span>
        </div>
    </div>

    <div class="shop-section" id="collection">
        <div class="box1 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Clothes/bandhani-saree.webp" alt="">
                <h3>Bandhani Saree</h3>
                <p>₹699.00 &nbsp; <span>₹3,500</span>&nbsp; 80% off<br><br>Buy Now</p>
            </div>

        </div>
        <div class="box2 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Clothes/chikankari-saree.webp" alt="">
                <h3>Chikankari Saree</h3>
                <p>₹799<br><br>See more on sarees</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Clothes/banarasi-saree.jpg" alt="">
                <h3>Banarasi Saree</h3>
                <p>₹1887<br><br>See more</p>
            </div>
        </div>

        <div class="box5 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Clothes/kanjivaram-saree.jpg" alt="">
                <h3>Kanjivaram Saree</h3>
                <p>₹1345<br><br>See more saree products</p>
            </div>
        </div>
        <div class="box5 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Clothes/nauvari-saree.webp" alt="">
                <h3>Nauvari Saree</h3>
                <p>₹1821<br><br>See more sarees</p>
            </div>
        </div>
    </div>
    </div>
    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Jewellery/Jwellery.jpeg" alt="">
                <h3>South-work Necklace</h3>
                <p>Handmade jwelleries<br><br>Discover more jwelleries</p>
            </div>

        </div>
        <div class="box2 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Jewellery/necklace.webp" alt="">
                <h3>Jodhpur Necklace</h3>
                <p>₹1999<br><br>Explore more!</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Jewellery/Thread_bangles.jpg" alt="">
                <h3>Western thread Bangles</h3>
                <p>₹499<br><br>More thread works</p>
            </div>
        </div>

        <div class="box5 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Jewellery/trad_necklace.jpg" alt="">
                <h3>Embeded Necklace</h3>
                <p>₹2399<br><br>Best offers on necklaces</p>
            </div>
        </div>
        <div class="box5 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Jewellery/Thread_bangles11.jpg" alt="">
                <h3>Thread-work Bangles</h3>
                <p>Festive Offers Coming Soon<br><br>See more!</p>
            </div>
        </div>
    </div>
    </div>
    <div class="shop-section">
        <div class="box1 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Home_Decoration/peacock_art.jpg" alt="">
                <h3>Peacock Art</h3>
                <p>₹1887<br><br>Explore related products</p>
            </div>

        </div>
        <div class="box2 box">
            <div class="box-content  bUy" onclick="login()">
                <img class="box-img" src="/images/Home_Decoration/RadhaKrishna.jpg" alt="">
                <h3>RadhaKrishna Idol</h3>
                <p>Starting from just ₹2999<br><br>Explore</p>
            </div>
        </div>
        <div class="box3 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Home_Decoration/Ganpati_murti.jpg" alt="">
                <h3>Ganpati Bappa Idol</h3>
                <p>₹3422<br><br>Fast Delivery available</p>
            </div>
        </div>

        <div class="box5 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Home_Decoration/Elephant.jpg" alt="">
                <h3>Tribal Elephant Murti</h3>
                <p>₹2499<br><br>Free Delivery</p>
            </div>
        </div>
        <div class="box5 box">
            <div class="box-content bUy" onclick="login()">
                <img class="box-img" src="/images/Home_Decoration/Damru.jpg" alt="">
                <h3>Folk Puppet art</h3>
                <p>₹1279<br><br>Bank Offers available</p>
            </div>
        </div>
    </div>
    </div>

    <div class="gallery">
        <div class="galleryItem">
            <h1 class="galleryTitle">Unveiling the rich arts</h1>
            <img src="/images/SloganPics\art-n-crafts-Ganjifa-cards.jpg" alt="" class="galleryImg">
            <p>Indian traditional arts are a vibrant tapestry of culture, history, and creativity. From intricate
                handloom textiles to mesmerizing classical dance forms, each art form is a testament to the rich
                heritage of the land. Passed down through generations, these arts not only reflect the diversity of
                India but also serve as a bridge between the past and the present. Through our platform, we aim to
                showcase the beauty and intricacy of these art forms, celebrating their timeless elegance and inspiring
                appreciation for India's artistic legacy</p>
        </div>
        <div class="galleryItem">
            <img src="/images/SloganPics\fef9cc80-77cc-4981-b811-11240ee80977.jpg" alt="" class="galleryImg">
            <h1 class="galleryTitle">Tradition preserved,Creativity Unleashed!</h1>
        </div>
        <div class="galleryItem">
            <h1 class="galleryTitle">Innovation rooted in Tradition</h1>
            <img src="/images/SloganPics\HANDMADE1.jpeg" alt="" class="galleryImg">
            <h3>"Indian art is a reflection of India's soul." - Rabindranath Tagore</h3>
        </div>
    </div>
    <!-- <div class="newSeason">
        <div class="nsItem">
            <img src="https://images.pexels.com/photos/4753986/pexels-photo-4753986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="nsImg">
        </div>
        <div class="nsItem">
            <h3 class="nsTitleSm">WINTER NEW ARRIVALS</h3>
            <h1 class="nsTitle">New Season</h1>
            <h1 class="nsTitle">New Collection</h1>
            <a href="#nav">
                <button class="nsButton">CHOOSE YOUR STYLE</button>
            </a>
        </div>
        <div class="nsItem">
            <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="nsImg">
        </div>
    </div> -->
    <footer class="foot" id="footer">
        <div class="footerLeft">
            <div class="footerMenu">
                <h1 class="fMenuTitle">About Us</h1>
                <ul class="fList">
                    <li class="fListItem">Company</li>
                    <li class="fListItem">Contact</li>
                    <li class="fListItem">Careers</li>
                    <li class="fListItem">Affiliates</li>
                    <li class="fListItem">Stores</li>
                </ul>
            </div>
            <div class="footerMenu">
                <h1 class="fMenuTitle">Useful Links</h1>
                <ul class="fList">
                    <li class="fListItem">Support</li>
                    <li class="fListItem">Refund</li>
                    <li class="fListItem">FAQ</li>
                    <li class="fListItem">Feedback</li>
                    <li class="fListItem">Hands behind the creations</li>
                </ul>
            </div>
            <div class="footerMenu">
                <h1 class="fMenuTitle">Products</h1>
                <ul class="fList">
                    <li class="fListItem">Madhubani Painting</li>
                    <li class="fListItem">Parsi Embroidery</li>
                    <li class="fListItem">Pichwai Painting</li>
                    <li class="fListItem">Dhokra Handicrafts</li>
                    <li class="fListItem">Embroidery Saree</li>
                </ul>
            </div>
        </div>

        <div class="footerRight">
            <div class="footerRightMenu" id="element">
                <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
                <div class="fMail">
                    <input type="text" placeholder="your@email.com" class="fInput">
                    <button class="fButton">Join!</button>
                </div>
            </div>
            <div class="footerRightMenu">
                <h1 class="fMenuTitle">Follow Us</h1>
                <div class="fIcons">
                    <img src="/images/logo/facebook.png" alt="" class="fIcon">
                    <img src="/images/logo/twitter.png" alt="" class="fIcon">
                    <img src="/images/logo/instagram.png" alt="" class="fIcon">
                    <img src="/images/logo/whatsapp.png" alt="" class="fIcon">
                </div>
            </div>
            <div class="footerRightMenu">
                <span class="copyright">@Trad Dev. All rights reserved. 2024.</span>
            </div>
        </div>
    </footer>
    <script>
        function bottomscroll() {
            const footer = document.getElementById("element");
            footer.scrollIntoView({ behavior: "instant" })
        }

        function collscroll() {
            const collection = document.getElementById("collection");
            collection.scrollIntoView({ behavior: "instant" })
        }


        let buy = document.getElementsByClassName("bUy")[0];
        function login() {

            window.open('http://localhost:8080/login');
        }
        // console.log(buy)

        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                { pageLanguage: 'en' },
                'google_translate_element'
            );
        }
    </script>

    <!-- <script src="first.js"></script> -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>