<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <link rel="stylesheet" href="/css/login.css" />
  <body>
    <!-- code -->

    <div class="center">
      <h1>Login</h1>
      <form action="/login" method="post">
        <div class="txt_field">
          <input
            type="email"
            name="email"
            placeholder="Enter Your Email"
            id=""
          />
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input
            type="password"
            name="password"
            placeholder="Enter Your Password"
            id=""
          />
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login" />
        <div class="signup_link">
          Not a member? <a href="/signup">Signup</a>
        </div>
      </form>
    </div>
  </body>
</html>
