* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image:linear-gradient(rgb(183, 135, 135),rgb(245, 245, 196)) ; */
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: steelblue; */
  background-color: rgb(142, 157, 212);
  height: 100px;
  /* background-color: transparent; */
}
.logo img {
  padding-left: 1rem;
  width: 8rem;
}

.navbar .box {
  display: flex;
  font-size: 15px;
  color: rgb(41, 72, 184);
  float: right;
  cursor: pointer;
  gap: 5px;
}

.user-icon img {
  width: 2rem;
  height: 2rem;
  margin-right: 50px;
  cursor: pointer;
}
.user-icon img:hover {
  background-color: springgreen;
  transition: 0.3 sec;
}
.banner img {
  width: 100%;
  /* padding: 30px 20px;
    margin: 30px 20px;
    margin-left: 200px; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 90px;
  padding: 50px;
  height: 20px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}
.Live-products h1 {
  padding: 10px;
  color: red;
  margin-left: 20px;
  padding-top: 20px;
  animation: blink 1s linear infinite;
}
.products {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin: 5px;
}
.products:hover {
  background-color: aliceblue;
  scale: 1.01;
}
.products img {
  height: 25vh;
}
.products h4 {
  color: cadetblue;
}
.products h4:hover {
  color: lightslategrey;
}
.products h5 {
  color: dimgrey;
  font-weight: 100;
}
.products h2 {
  font-weight: 400;
  color: red;
}
.products div {
  color: gray;
}

.sold {
  margin-left: 1.5rem;
}
.sold h1 {
  color: green;
}
.container h1 {
  color: green;
}

.button {
  margin-left: 80rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(190, 190, 246);
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: cadetblue;
}

/* .button{
  width: 20px;
} */

.button:active {
  transform: scale(0.96);
}
* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image:linear-gradient(rgb(183, 135, 135),rgb(245, 245, 196)) ; */
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: steelblue; */
  background-color: rgb(142, 157, 212);
  height: 100px;
  /* background-color: transparent; */
}
.logo img {
  padding-left: 1rem;
  width: 8rem;
}

.navbar .box {
  display: flex;
  font-size: 15px;
  color: rgb(41, 72, 184);
  float: right;
  cursor: pointer;
  gap: 5px;
}

.user-icon img {
  width: 2rem;
  height: 2rem;
  margin-right: 50px;
  cursor: pointer;
}
.user-icon img:hover {
  background-color: springgreen;
  transition: 0.3 sec;
}
.banner img {
  width: 100%;
  /* padding: 30px 20px;
    margin: 30px 20px;
    margin-left: 200px; */
}
.container {
  display: flex;
  align-items: flex-start;
  gap: 90px;
  padding: 50px;
  height: 20px;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}
.Live-products h1 {
  padding: 10px;
  color: red;
  margin-left: 20px;
  padding-top: 20px;
  animation: blink 1s linear infinite;
}
.products {
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  margin: 5px;
}
.products:hover {
  background-color: aliceblue;
  scale: 1.01;
}
.products img {
  height: 25vh;
}
.products h4 {
  color: cadetblue;
}
.products h4:hover {
  color: lightslategrey;
}
.products h5 {
  color: dimgrey;
  font-weight: 100;
}
.products h2 {
  font-weight: 400;
  color: red;
}
.products div {
  color: gray;
}

.sold {
  margin-left: 1.5rem;
}
.sold h1 {
  color: green;
}
.container h1 {
  color: green;
}

.button {
  margin-left: 80rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(190, 190, 246);
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: cadetblue;
}

/* .button{
  width: 20px;
} */

.button:active {
  transform: scale(0.96);
}
